@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lobster&family=Pattaya&display=swap');
:root{
    --main-color: #0d0e10;
    --sub-color: #EAA023;
    --text-color: #ffffff;
    --texthv-color: #ffad1e;
    --texthvs-color: #d8d6d3;
    --btn-color: #ffbe33;
    --btnhv-color: #e69c00;
    --bg-color: #85793d;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
h2{
    font-size: 50px;
    color: var(--text-color);
    font-family: 'Pattaya', sans-serif;
}
p{
    font-size: 25px;
    color: var(--text-color);
    font-weight: bold;
    margin: 15px 0;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
}
.container{
    margin: auto;
    max-width: 1200px;
    /* border: 2px solid red; */
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.justify_content{
    justify-content: space-around; /*tạo thanh menu dùng chung*/
    align-items: center;
}
.top{
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.top.active::before{
    transform: translateY(0);
}
.top::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: -1;
    transform: translateY(-100%);
    transition: all 0.3s ease;
}
.top .logo img{
    width: 80px;
    height: 80px;
    cursor: pointer;
}
.menu_bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav{
    margin: 0;
    padding: 0;
}
.menu_bar ul li{
    float: left;
    padding: 0px 20px;
}
.menu_bar ul li:first-child{
    padding-left: 0;
}
.menu_bar ul li:last-child{
    padding-right: 0;
}
.menu_bar > ul > li > a{
    text-transform: uppercase;
}
.menu_bar ul li a{
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    /* display: inline-block; */
}
.menu_bar ul li a:hover{
    text-decoration: none;
    color: var(--texthv-color);
}
.menu_bar ul li .active{
    color: var(--texthv-color);
    border-bottom: 5px solid var(--texthv-color);
    width: 100%;
    border-radius: 1px;
    transition: all 0.5s ease;
}
.menu_bar ul li i{
    color: var(--text-color);
}
#toggle{
    display: none;
    color: var(--text-color);
    text-align: right;
    /* padding: 10px; */
    width: 10%;
    height: 5%;
    font-size: 20px;
    cursor: pointer;
}
#toggle:hover{
    color: var(--texthv-color);
}
.user{
    background-color: var(--main-color);
    height: fit-content;
}
.user ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user ul li{
    padding: 10px;
}
.user ul li:last-child{
    padding: 0 10px 10px;
}
#logout{
    display: none;
}
.user ul li a{
    color: var(--text-color);
    text-decoration: none;
}
.user ul li a:hover{
    color: var(--texthv-color);
}
.menu_rigth_user{
    text-align: right;
}
.user aside{
    display: none;
}
.menu_rigth{
    color: var(--text-color);
    display: flex;
    align-items: center;
}
.menu_rigth i{
    padding: 0 10px;
}
.menu_rigth i:hover{
    color: var(--texthv-color);
}
#button{
    width: 157px;
    height: 41px;
    border-radius: 26px;
    border: var(--btn-color);
    background-color: var(--btn-color);
    color: var(--text-color);
}
#button:hover{
    background-color: var(--btnhv-color);
    transition: 0.3s ease;
}
/* big img */
.big_image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.big_image::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/khong-gian-am-cung-nha-hang-nhat.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -2;
    animation: Inout 10s infinite;
}
@keyframes Inout{
    0%,100%{
        transform: scale(1);
    }
    /* 25%,75%{
        transform: scale(1.5);
    } */
    50%{
        transform: scale(2);
    }
}
.big_image::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%; 
    background-color: black;
    opacity: 0.3; /*chỉnh độ tối cho background*/
    z-index: -2;
}
.big_image .row{
    display: flex;
    justify-content: center;
}
.big_image_content{
    text-align: center;
    max-width: 700px;
}
/* .big_image .big_image_content h2{
    font-size: 50px;
    color: var(--text-color);
    font-family: 'Pattaya', sans-serif;
} */
/* .big_image .big_image_content p{
    font-size: 25px;
    color: var(--text-color);
    font-weight: bold;
    margin: 15px 0;
    font-family: 'Dancing Script', cursive;
} */
/* .btn{
    background-color: transparent;
    padding: 15px 30px;
    border: 2px solid var(--sub-color);
    border-radius: 30px;
    color: var(--sub-color);
    cursor: pointer;
    transition: 0.3s ease;
}
.btn:hover{
    background-color: var(--text-color);
} */




/* begin about */
.about{
    background-color: var(--main-color);
    padding: 60px 0;
}
.about .about_img img{
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    position: relative;
}
/* .about-img{
    width: calc(100%/2);
} */
.about_items{
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
    /* align-items: center; */
}
.about_items h2{
    margin: 0;
}
.about_items p{
    text-align: justify;
    margin-top: 20px;
}
.about_items_img{
    content: "";
    position: absolute;
    color: var(--text-color);
    top: 40%;
    left: 20%;
    right: 20%;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
}
.about_items_img::before{
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    border: 4px solid var(--sub-color);
    position: absolute;
    top: -50%;
    left: 30%;
    animation: xoayVong 5s infinite;
}
@keyframes xoayVong{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
/* end about */
/* begin menu */
.menu {
    background-color: var(--text-color);
}
.menu_tile{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 60px;
}
.menu_tile h2{
    color: var(--bg-color);
}
.menu_tile p{
    color: #0d0e10;
}
.menu_item{
    display: flex;
    justify-content: center;
    margin: 60px 0;
}
.menu_item ul{
    display: flex;
    float: left;
    color: #e69c00;
    width: 80%;
    height: 60vh;
}
.menu_item ul li{
    margin: 0 20px;
    display: block;
    justify-content: center;
    background-color: #0d0e10;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
#omasake{
    background-image: url(../images/Omasake.png);
}
#retail{
    background-image: url(../images/monle.png);
}
#sake{
    background-image: url(../images/sake.png);
}
.menu_item a{
    text-decoration: none;
}
.menu_item a p{
    text-align: center;
    background-color: var(--bg-color);
    margin: 0;
    padding: 10px 0;
}
.menu_item a:hover p{
    /* content: counter(); */
    color: var(--texthvs-color);
}
/* end menu */
/* begin book  */
.booking{
    background-color: rgb(44, 43, 43);
    text-align: center;
    padding: 60px 0;
}
.booking h2{
    color: var(--bg-color);
    margin-bottom: 20px;
}
.book-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.book-title input{
    margin: 10px 0;
}
.form-control{
    margin: 10px 0;
}
.custom-select{
    margin: 10px 0;
}
.map iframe{
    height: 100%;
    width: 100%;
    border: 2px solid rebeccapurple;
}
/* end book  */
/* begin footer */
.footer{
    background-color: var(--main-color);
    color: var(--text-color);
    padding-top: 60px;
}
.footer .col-md-4{
    font-family: 'Dancing Script', cursive;
    text-align: center;
}
.footer .col-md-4 h4{
    padding-bottom: 30px;
    margin: 0;
}
.footer_left a{
    color: var(--text-color);
}
.footer_left i{
    padding: 10px;
}
.footer .footer_left > p, .footer_rigth > p{
    font-size: 30px;
}
.footer .footer_center > h2{
    font-size: 40px;
}
.footer_left span{
    font-family: "Open Sans", sans-serif;
}
.footer_center p{
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 17px;
}
.footer_center a{
    padding: 8px;
    border-radius: 45%;
    color: var(--main-color);
    background-color: var(--text-color);
}
.footer_rigth p{
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 17px;
    margin: 0%;
}

.footer_bottom{
    margin-top: 60px;
    background-color: cadetblue;
    text-align: center;
    z-index: 3;
}
.footer_bottom p{
    font-size: 20px;
}
/* end footer */